.header {
  display: grid;
  grid-template-columns: 1fr 162px 1fr;
  padding: 12px 24px;
  max-width: 1922px;
  min-width: 393px;
  margin: auto;
}

.logo {
  justify-self: center;
}

.rightPanel {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-self: end;

  li {
    position: relative;
  }

  .count {
    border-radius: 50%;
    background-color: #0f0f0f;
    color: #fff;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    right: -10px;
    bottom: -5px;

    span {
      font-family: "Poppins", sans-serif;
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
    }
  }
}

@media (max-width: 1440px) {
  .logo {
    img {
      width: 111px;
      height: 37px;
    }
  }

  .rightPanel {
    .search {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    img {
      width: 90px;
      height: 30px;
    }
  }

  .rightPanel {
    .profile {
      display: none;
    }

    li {
      img {
        width: 21px;
        height: 21px;
      }
    }
  }
}
