.cart {
  margin: 24px auto;
  max-width: 1216px;
  min-width: 393px;

  .emptyCart {
    text-align: center;
    margin: 46px 0;

    a {
      text-decoration: underline;
      display: block;
      margin: 24px 0;
    }
  }

  header {
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      color: #5b5b5b;
      margin: 16px 0;
    }
  }
}

.cartItems {
  margin: 16px 0;
  border-bottom: 1px solid #ced3d6;

  .removeAll {
    display: flex;
    justify-content: flex-end;
    p {
      margin: 32px 11px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.cartItem {
  display: flex;
  padding: 24px 0;
  border-top: 1px solid #ced3d6;

  .cartItemImg {
    border-radius: 4px;
    margin-right: 24px;

    img {
      width: 109px;
      height: 133px;
      object-fit: cover;
      display: block;
    }
  }

  .properties {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;

    .description {
      width: 150px;

      .mobileDescription {
        .color {
          display: none;
          width: 53px;
          height: 22px;
        }

        span {
          display: none;
        }

        .price {
          display: none;
        }
      }
    }

    .sku {
      font-size: 16px;
      font-weight: 400;
      color: #a9a9a9;
      margin-bottom: 12px;
    }

    .name {
      font-size: 20px;
    }

    .size {
      width: 114px;
    }

    .quantity {
      text-align: center;

      span {
        display: block;
        color: #a9a9a9;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        margin-top: 7px;
      }
    }

    .color {
      width: 114px;
      height: 48px;
      border-radius: 4px;
    }

    .price {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
    }

    .removeItem {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 1440px) {
  .cart {
    padding: 0 20px;
  }

  .cartItem {
    .properties {
      .color {
        display: none;
      }

      .description {
        .mobileDescription {
          .color {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 0;
    margin: 0;
    border-top: 1px solid #a9a9a9;
    header {
      display: none;
    }
  }
  .cartItems {
    border: none;
    margin: 0;

    &.active {
      display: none;
    }
    .removeAll {
      display: none;
    }
  }
  .cartItem {
    padding: 0;
    border: none;
    border-bottom: 1px solid #a9a9a9;

    .properties {
      padding-right: 20px;
      padding-top: 12px;
      .color,
      .size,
      & > .quantity,
      & > .price {
        display: none;
      }
      .description {
        a {
          display: flex;
          flex-direction: column-reverse;
          gap: 6px;
        }
        .sku {
          display: none;
        }
        .mobileDescription {
          .color {
            display: block;
            width: 21px;
            height: 9px;
            border-radius: 1px;
          }
          .price {
            display: block;
          }

          .wrapper {
            display: flex;
            font-size: 12px;
            align-items: center;
            gap: 6px;
            margin-bottom: 6px;
            span {
              display: block;
              color: #a9a9a9;
            }
          }
        }
      }
    }
  }
}
