.sidebar {
  h3 {
    font-size: 24px;
    font-weight: 400;
    padding-left: 8px;
    margin-bottom: 32px;
  }

  ul {
    li {
      width: 295px;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      &.active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
