@import "@/styles/veriables";

.navItem {
  border-bottom: 1px solid rgba($gray, $alpha: 0.5);
  display: flex;
  flex-direction: column;

  & > a {
    padding: 16px 0;
  }

  a {
    &:hover {
      opacity: 0.6;
    }
  }

  .submenu {
    display: none;
    padding: 0 20px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding-bottom: 16px;
    }

    &.active {
      display: block;
    }
  }
}
