.filters {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 34px;

  .order {
    margin-left: auto;
    margin-right: 30px;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
