.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
  margin: 120px 0;
  min-width: 393px;

  h1 {
    font-weight: 400;
    text-align: center;
  }

  .loginForm {
    max-width: 400px;
    margin: 0 20px;
    input {
      margin-bottom: 34px;
    }

    .errorMessage {
      display: none;
    }

    .error {
      position: relative;
      .errorMessage {
        display: block;
        position: absolute;
        color: #b72025;
        top: 34px;
        font-size: 12px;
      }

      input {
        border-color: #b72025;
        color: #b72025;

        &::placeholder {
          color: #b72025;
        }
      }
    }

    .registerLink {
      display: block;
      margin: 12px 0;
      text-decoration: underline;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 520px) {
  .login {
    gap: 24px;
    h1 {
      font-size: 24px;
    }
  }
}
