.catalog {
  max-width: 1428px;
  min-width: 393px;
  margin: 24px auto;

  display: flex;
  flex-direction: column;
  gap: 44px;
}

.wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.content {
  width: 100%;
  .productList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .sidebar,
  .filters,
  .breadcrumbs {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    .productList {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 500px) {
  .content {
    .productList {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 392px) {
  .content {
    .productList {
      grid-template-columns: 1fr 1fr;
    }
  }
}
