.registerInfo {
  text-align: center;
  margin: 120px 0;
  padding: 0 24px;

  h2 {
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 6px;

    a {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}
