.content {
  min-height: calc(100vh - 80.68px - 328.73px);
}

@media (max-width: 1440px) {
  .content {
    min-height: calc(100vh - 65.78px - 328.73px);
  }
}

@media (max-width: 1024px) {
  .content {
    min-height: calc(100vh - 65.78px - 464.48px);
  }
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 58.8px - 464.48px);
  }
}
