.content {
  min-height: calc(100vh - 80.1px - 325.6px);
}

@media (max-width: 1440px) {
  .content {
    min-height: calc(100vh - 64.2px - 325.6px);
  }
}

@media (max-width: 1024px) {
  .content {
    min-height: calc(100vh - 64.2px - 459.8px);
  }
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 57.2px - 459.8px);
  }
}
