@import "@/styles/veriables.scss";

.slider {
  position: relative;
  transition: 1s all;
  margin: 0 auto;
  min-width: $mobile-width;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1042px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $desktop-width) {
    height: 627px;
  }
}

.sliderSceleton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 680px;
  margin-top: 32px;
  border-radius: 15px;
  padding: 0 24px;
  text-align: center;
  @media (max-width: 768px) {
    border-radius: 0;
    margin-top: 0;
    height: 335px;
  }
  @media (max-width: 460px) {
    padding: 0 12px;
  }
}

.title {
  color: #fff;
  font-family: "Cormorant", sans-serif;
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 500;
  @media (max-width: $desktop-width) {
    font-size: 48px;
  }
  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.buttons {
  button {
    border: none;
    background-color: transparent;
    color: $black;

    &:first-child {
      left: 50px;
    }

    &:last-child {
      right: 50px;
    }
  }
  @media (max-width: $desktop-width) {
    display: none;
  }
}
