.collectionList {
  max-width: 1216px;
  margin: 40px auto;

  header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3,
    a {
      font-size: 20px;
      font-weight: 400;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .collectionListItems {
    display: flex;
    gap: 20px;
  }
}
