.product {
  max-width: 1216px;
  min-width: 393px;
  margin: 24px auto;

  display: flex;
  flex-direction: column;
  gap: 44px;
}

.productCard {
  display: flex;
  gap: 40px;

  .productCardDescription {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .buttons {
      display: flex;
      height: 48px;
      gap: 6px;

      .favoritesIcon {
        width: 56px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #ced3d6;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    .price {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }

    button {
      border-radius: 4px;
    }

    .info {
      padding: 12px 16px;
      background: rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      width: 100%;
    }
  }
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid #ced3d6;
  width: 784px;

  .description {
    margin: 14px 0 24px 0;
    line-height: 24px;
  }
}

@media (max-width: 1440px) {
  .product {
    padding: 0 24px;
  }

  .productCard {
    flex-direction: column;

    .productCardDescription {
      align-items: center;
      width: 100%;

      .buttons {
        width: 100%;
      }
    }
  }

  .descriptionBlock {
    width: 100%;
  }
}

@media (max-width: 1012px) {
  .product {
    padding: 0;
    margin-top: 0;
  }

  .productCardDescription {
    padding: 0 24px;
  }

  .descriptionBlock,
  .details {
    padding: 0 24px;
  }
}
