.wrapper {
  position: relative;

  .favorites {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 4;

    &:hover {
      cursor: pointer;
      svg > * {
        fill: red;
      }
    }
  }
}

.productItem {
  color: #0f0f0f;

  &:hover {
    opacity: 0.8;
  }

  .productImg {
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin-bottom: 18px;
    width: 100%;
    background-size: 120%;
  }

  .productDescription {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .productName {
    font-size: 16px;
    font-weight: 400;
  }

  .productPrice {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 1260px) {
  .productItem {
    width: 229px;

    .productImg {
      height: 277px;
      margin-bottom: 12px;
    }

    h4 {
      font-size: 16px;
    }

    .productName {
      font-size: 12px;
    }

    .productPrice {
      font-size: 16px;
    }
  }
}

@media (max-width: 512px) {
  .productItem {
    width: 100%;
    min-width: 139px;

    .productImg {
      height: 168px;
      margin-bottom: 8px;
    }

    .productDescription {
      gap: 8px;
    }

    h4 {
      font-size: 10px;
    }

    .productName {
      font-size: 8px;
    }

    .productPrice {
      font-size: 10px;
    }
  }
}
