.favorites {
  max-width: 1264px;
  min-width: 393px;
  padding: 0 24px;
  margin: 0 auto;
  header {
    text-align: center;
    margin: 80px 0;
    h1 {
      font-weight: 400;
    }
  }

  &List {
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;

    .favoritItem {
      button {
        border-radius: 4px;
        width: 127px;
        background: rgba(15, 15, 15, 0.08);
        color: #0f0f0f;
        padding: 8px 16px;
        margin-top: 24px;

        &:hover {
          background-color: #0f0f0f;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1264px) {
  .favorites {
    &List {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 860px) {
  .favorites {
    &List {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 600px) {
  .favorites {
    &List {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 393px) {
  .favorites {
    &List {
      grid-template-columns: 1fr 1fr;
    }
  }
}
