.selectDate {
  & > div {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 12px 24px;
    outline: none;
    border: 1px solid #a9a9a9;
    background: #fafcfc;
    border-radius: 4px;
  }
}

.datePickerHeader {
  display: flex;
  margin: 0 10px;
  gap: 6px;
  justify-content: space-between;

  div {
    width: 100%;
    background-color: #fff;
    min-height: 30px;
  }
}
