.collectionItem {
  display: block;
  width: 289px;
  height: 385.31px;
  position: relative;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0 4px;
  }
}

@media (max-width: 1260px) {
  .collectionItem {
    width: 229px;
    height: 307px;

    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 512px) {
  .collectionItem {
    width: 100%;
    min-width: 139px;
    height: 185px;

    h4 {
      font-size: 14px;
      bottom: 10px;
    }
  }
}
