.collectionItem {
  display: block;
  width: 289px;
  height: 385.31px;
  position: relative;

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
  }
}
