@import "@/styles/veriables.scss";

.collectionItem {
  display: block;
  width: 100%;
  height: 385px;
  position: relative;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0 4px;
  }
}

@media (max-width: $desktop-width) {
  .collectionItem {
    height: 307px;
    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: $mobile-width) {
  .collectionItem {
    height: 185px;

    h4 {
      font-size: 14px;
      bottom: 10px;
    }
  }
}
